.container
    .row
        .col
            ul.nav.justify-content-center
                each item in navMenuItems
                    li.nav-item
                        a.nav-link(
                            class=request.path.startsWith(item.url) ? "active" : ""
                            href=item.url
                        )=item.name
    .row
        .col
            p.text-center.text-muted
                | &copy; Daniel WJ Chen. All rights reserved.