//colors
$color_mirage_approx: #1d1f21;
$color_pumice_approx: #c5c8c6;
$color_pumice_20_approx: rgba(197, 200, 198, 0.2);
$color_pumice_10_approx: rgba(197, 200, 198, 0.1);
$color_baltic_sea_approx: #292c2f;
$white_14: rgba(255, 255, 255, 0.14);
$lavender_rose: #fba0e3;
$white: #ffffff;
$color_tundora_approx: #444444;
$color_mountain_mist_approx: #999;
$color_gallery_approx: #eee;
$color_fuscous_gray_approx: #555;
$color_alto_approx: #ddd;
$color_silver_chalice_approx: #aaa;
$color_suva_gray_approx: #888888;
$color_golden_sand_approx: #f8de7e;
$color_concord_approx: #7c7c7c;
$color_corvette_approx: #ffd2a7;
$color_portafino_approx: #ffffb6;
$color_paarl_approx: #9b5c2e;
$color_cornflower_approx: #96cbfe;
$color_pine_glade_approx: #cfcb90;
$color_granny_smith_apple_approx: #99cc99;
$color_blush_pink_approx: #ff73fd;
$color_melrose_approx: #c6c5fe;
$color_pink_flamingo_approx: #fd5ff1;
$color_voodoo_75_approx: rgba(86, 45, 86, 0.75);
$color_persian_green_approx: #00a0a0;
$color_conifer_approx: #a8ff60;
$color_equator_approx: #e9c062;
$color_flush_orange_approx: #ff8000;
$color_roti_approx: #c6a24f;
$white_6: rgba(255, 255, 255, 0.06);
$color_alpine_approx: #b18a3d;
$color_mantle_approx: #8a9a95;
$color_putty_approx: #dad085;
$color_light_apricot_approx: #ffd7b1;
$color_copperfield_approx: #e18964;
$color_regent_gray_approx: #8996a8;
$color_pigeon_post_approx: #afc4db;
$color_ironside_gray_approx: #676767;
$color_gravel_approx: #494949;
$color_avocado_approx: #8f9d6a;
$color_bali_hai_approx: #8b98ab;
$color_cornflower_blue_approx: #62b1fe;
$color_picasso_approx: #f9ee98;
$color_de_york_approx: #87c38a;
$color_desert_storm_approx: #f8f8f8;
$color_firefly_approx: #0e2231;
$color_apple_approx: #60a633;
$color_shark_approx: #242424;
$color_gallery_16_approx: rgba(238, 238, 238, 0.16);
$color_dark_burgundy_approx: #751012;