/**
 * Defines / styles
 */
@import '../../node_modules/bootstrap/scss/bootstrap-grid.scss';

.bg-landing {
    background-image: url('/images/home/landing.640.jpg');
    @include media-breakpoint-up(sm) {
        background-image: url('/images/home/landing.1280.jpg');
    }
    @include media-breakpoint-up(md) {
        background-image: url('/images/home/landing.1920.jpg');
    }
    background-repeat: no-repeat;
    background-position: cover;
    text-shadow: 0 0 8px black;
}
#about {
    @include media-breakpoint-down(xs) {
        .media {
            flex-direction: column;
        }
    }
}