/**
 * Defines / styles
 */
.bg-landing {
    background-image: url('/images/home/IMG_20190106_234517.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: 0 0 5px black;
}