.media
    img.rounded-circle.mr-3(
        src="/images/profiles/120x120.png", 
        alt="Daniel's Profile Photo"
    )
    .media-body
        h5.mt-0
            | Daniel is a software engineer in Chicago.
        p
            | I have over 10 years of experince making web applications with technologies such as Java, C#, Python, PostgreSQL, JavaScript, etc. If you have interesting ideas, and you are looking for someone to help you bring your vision to life, shoot me a message:
            br
            a(
                href="mailto:hello@danielwjchen.com"
            )
                | hello@danielwjchen.com